@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500;700;900&display=swap');

body, h2, p {
    margin: 0;
    padding: 0;
    font-family:  'Roboto';
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.grid {
  display: grid;
  gap: 10px;
}

main {
  display: grid;
  gap: 75px;
  overflow-x: hidden; 
}

h3, h2, .flex-end-btn a, .subscribe-btn, .fa-magnifying-glass, .logo, .footer-logo, .footer-right-col i, .read-more-btn, section img {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

p {
  line-height: 1.7em;
}

h3, h2 {
  line-height: 1.3em;
}

.social a {
  transition: all 0.25s ease-in-out;
}

h3:hover, h2:hover, .flex-end-btn a:hover, .fa-magnifying-glass:hover {
    color: #6A0B0B;
}

.subscribe-btn:hover, .social i:hover, .read-more-btn:hover {
  transform: scale(1.05) !important;
}

.social a:hover {
  transform: scale(1.11);
  color: #EBEBEB;
  background: #000000;
}

.footer-right-col i:hover {
  transform: scale(1.09);
  color: #E35454;
  background: #ffffff !important;
}

.flex-end-btn a:hover, .fa-magnifying-glass:hover {
  transform: scale(1.08);
}

/*  START HEADER CSS  */
 
header {
    border-bottom: 1px solid #D9D9D9;
    position: sticky;
    top: 0;
    background: white;
    z-index: 9999;
    transition: all 0.5s ease-in-out;
}

  .header-wrapper {
  width: 1220px;
  margin: 0 auto;
  max-width: 65vw;
}

.row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vw;
  max-height: 67px;
  background-color: #ffffff;
}

.logo {
  font-size: 1.9vw;
  font-weight: 700;
  color: #6A0B0B;
}

.social {
  display: flex;
  align-items: center;
}

.social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
  background-color: #EBEBEB;
  color: black;
  border-radius:  5px;
  font-size: clamp(14px, 1.1vw, 20px);
}

.subscribe-btn {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  font-size: clamp(12px, .9vw, 16px);
  cursor: pointer;
  font-weight: 500;
}

.row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5vw;
  max-height: 51px;
  border-top: 1px solid #D9D9D9;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.fw700 {
    font-weight: 700 !important;
}

nav li {
  margin-right: 1.1vw;
  border-right: 1px solid #DDDDDD;
  padding-right: 1.1vw;
  transition: all 0.1s ease-in-out;
}

nav li:hover {
  font-weight: 500;
  color: #6A0B0B !important;
}

nav li:last-child {
  margin-right: 0;
  border-right: 0;
}

nav li:nth-child(1) {
    font-weight: 700 !important;
  }

nav a {
  color: #000000;
  text-decoration: none;
  font-size: clamp(12px, 1vw, 16px);
}

.weather {
  display: flex;
  align-items: center;
  font-size: clamp(13px, .95vw, 20px);
}

.fa-cloud {
  margin-right: 10px;
  color:  #D14343;
}

.fa-magnifying-glass {
    width: 19px;
    height: 19px;
    padding-left: 24px;
    margin-left: 25px;
    font-size: clamp(14px, 1.1vw, 20px);
    border-left: 1px solid #DDDDDD;
}

/*  END END CSS  */

/*  START MAIN CONTENT CSS  */

h2 {
    font-size: 1.75vw;

}

.four h3, .three h3 {
  font-size: clamp(13px, 1.15vw, 20px)
}

section:first-child {
    display: flex;
    justify-content: top;
    align-items: left;
    position: relative;
}

.hero-wrapper {
    padding-top: 2.5%;
    width: 1220px;
    max-width: 65vw;
    margin: 0 auto;
    position: relative;
    display: flex;
    gap: 40px;
}

.info-wrapper {
  display: grid;
  gap: 20px;
  justify-items: start;
}

.left-col {
    width: 60%;
    z-index: 7;
    display: grid;
    justify-items: left;
    align-content: start;
    gap: 80px;
}

.left-col p {
    font-size: clamp(13px, 1.95vw, 16px);
}

.flex-end-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top:  3%;
    font-weight: 700 !important;
}

.flex-end-btn i:before {
  padding-left: 10px;
}

.read-more-btn {
    background: black;
    color: white;
    padding: .8vw 1.8vw;
    text-decoration: none;
    border-radius: 5px;
    font-size: clamp(13px, 1vw, 16px);
}

.right-col {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.right-col h3 {
    border-left: 2px solid red;
    padding-left: 1rem;
    padding: 0% 1rem;
    margin-top: 3.5%;
    margin-bottom: 2%;
    font-size: clamp(13px, 1.05vw, 20px);
}

.heading-text {
    font-weight: 900 !important;
    padding-bottom: 2%;
}

.posts-hero {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 4%;
}

.left-col .badge-wrapper, .left-col .badge  {
    position: static;
    height: 44vh !important;
    width: 100%;
    border-radius: 5px;
    z-index: 7;
    background-image: url(https://www.drivinggeeks.com/wp-content/uploads/2022/12/Ferrari-Sports-Car-Parked-on-Road.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.badge p {
  background-color: white;
  position: absolute;
  border-radius: 0px 5px 0px 5px;
  margin-top: 0% !important;
  padding: .75vw 1.5vw !important;
  font-weight: 700;
  font-size: clamp(13px, .95vw, 16px);
}

.badge p i {
  padding-right: 10px;
  color: #D2454B;  
}

.badge {
  display: flex;
  justify-content: left;
  align-items: bottom;
}

.absolute-image {
    position: absolute;
    z-index:  -1;
    border-radius: 0px 5px 5px 0px;
    height: 54vh;
    width: 37vw;
}

.author-meta {
    color: #2F2F2F;
    font-size: .8vw;
    font-family: "Open Sans";
    font-weight: 400;
    padding-left: 1.3rem;
}

section:nth-child(2) {
    display: flex;
    justify-content: end;
}

.container {
    width: 1220px;
    max-width: 65vw;
    display: grid;
    gap: 24px;
    margin: 0 auto;
    padding-top: 24px;
    border-top: 1px solid #D24545;
}

section:last-child {
    background: #B53838;
    padding-bottom: 75px;
    padding-top: 4%;
}

.last-container {
    width: 1220px;
    max-width: 65vw;
    display: grid;
    gap: 24px;
    margin: 0 auto;
    padding-top: 2%;
    border-top: 1px solid #ffffff;
}

section h3 {
    font-weight: 500;
    margin: 0;
    margin-top: 2%;
}

section p {
    font-weight: 400;
    margin: 0;
    color: #2F2F2F;
    font-size: clamp(12px, .8vw, 16px);
}

section:last-child h2 {
    color: white;
}

.posts {
    display: grid;
    gap: 16px;
}

.posts.three {
    width: 33%;
}

.posts-container {
    width: 1220px;
    max-width: 65vw;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.posts img {
    width: 100%;
    border-radius: 5px;
}

section:last-child h3, section:last-child p {
    color: white;
    font-weight: 400;
    margin: 0;
}

section:last-child p {
    font-size: clamp(12px, 0.85vw, 14px);
}

section:last-child h3 {
    margin-top: 3%;
}

.third-container {
    display: flex;
    gap: 40px;
  }
  
  .left-container,
  .right-container {
    width: 50%;
    display: flex;
  }

  .left-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  
  .blog-post {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .right-container  .blog-post {
    align-items: top;
    justify-content: left;
    gap: 24px;
  }
  
  .blog-post img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .post-info {
    display: grid;
    gap: 10px;
    justify-items: left;
  }
  
  .post-info p:nth-child(1) {
    font-size: clamp(13px, .85vw, 15px) !important;
    color: #666;
    font-family: "Open Sans";
  }

  .post-info h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .blog-post h3 {
    font-size: clamp(13px, 1.05vw, 20px);
}

 .right-container h3 {
    font-size: clamp(18px, 1.7vw, 25px);
    font-weight: 700;
}

.meta {
    font-size: clamp(11px, .8vw, 16px);
    font-family: "Open Sans" !important;
}

  .post-info a {
    display: inline-block;
    padding: 5px 0;
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: clamp(13px, .9vw, 16px);
    transition: all 0.3s ease-in-out;
  } 
  
  .post-info a:hover {
    color: #D24545;
    transform: scale(1.08);
    cursor: pointer;
  }
  
  .grid-container {
    display: flex;
    grid-gap: 40px;
    width: 1560px !important;
    max-width: 82vw !important;
  }

  .grid-container .left-container {
    width: 70%;
  }

  .grid-container .right-container {
    width: 30%;
  }
  
  .post {
    border: 1px solid #DFDFDF;
    display: grid;
    justify-items: center;
    align-content: center;
    border-radius: 5px;
  }

  .post3 {
    background-image: url(https://cdn.shopify.com/s/files/1/0260/0619/2212/products/b00szq9h4g_ac957836-5d8f-4a7a-a36f-6aa85f4636b6.jpg?v=1600870302);
    display: flex !important;
    justify-content: start;
    background-size: cover;
    align-items: top;
    aspect-ratio: 1 / 1;
  }

  .post3 div {
    background: white;
    height: 5%;
    padding: 2% 4%  !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    border-radius: 4px 0px 5px 0px
  }

  .post3 div i {
    color: #D24545;
  }

  .post5 div {
    padding: 5% 7.5% !important;
    border: 1px solid #DFDFDF;
    width: 70%;
}

  .post5 h3, .post5 p {
    color: white !important;
    font-weight: 500;
  }

  .post p {
    font-size: clamp(13px, .8vw, 16px) !important;
    color: #2F2F2F;
    font-family: "Open Sans";
  }

  .post div {
    padding: 3vw
  }

  .post h3 {
    margin-bottom: 4%;
    margin-top: 0%;
    font-size: clamp(14px, 1.05vw, 20px);
  }
  
  .post5 {
    background: #D24545;
  }

  .post3 p {
    font-weight: 700 !important;
  }

.badge {
  display: flex;
  gap: 10px;
}

.badge div {
  background: white;
}

.hamburger {
  display: none;
}

.featured-badge {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
}

.badge p {
  margin: 0;
}

.h2-non-hover:hover {
  transform: scale(1);
  cursor: auto;
  color: black;
}

.h2-non-last:hover {
  transform: scale(1);
  cursor: auto;
  color: white !important;   
}

p.heading-text.latest {
       font-size: clamp(.7rem, 1vw, 1.2rem) !important;
}
/*  END MAIN CONTENT CSS  */


/*  START FOOTER CONTENT CSS  */
footer {
    background: #D24545;
}

.footer-container {
    width: 1220px;
    max-width: 65vw;
    margin: 0 auto;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    background: #B53838 !important;
    height: 5vw;
    width: 5vw;
    max-height: 70px;
    max-width: 70px;
    border-radius: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 1.6vw;
}

.footer-left-col {
    display: flex;
    align-items: center !important;
    gap: 2vw;
}

.footer-right-col i {
    background: #E35454;
    padding: 15px;
    border-radius: 5px;
    font-size: 1vw;
}

.footer-right-col p {
    color: white;
    font-size: clamp(11px,  .9vw, 16px);
}

.footer-right-col {
    display: flex;
    gap: 25px;
    align-items: center !important;
}

footer nav a {
    font-size: clamp(11px, .85vw, 16px);
}

footer a {
    color: white;
}

footer li:first-child {
    font-weight: 400 !important;
}
/*  END FOOTER CONTENT CSS  */

@Media (min-width: 1301px) and (max-width: 1600px) {
  .grid-container, .grid-container, .left-container, .third-container {
    gap: 35px !important;
}

.grid {
    gap: 3px;
}

.blog-post {
    gap: 10px;
}

.left-col .badge-wrapper, .left-col .badge {
  height: 22vw !important;
}

.left-col {
  gap: 50px;
}

.absolute-image {
  height: 27vw;
}
}

@Media (min-width: 768px) and (max-width: 1300px) {
  .post div {
    padding: 2.5vw
  }
  
  .grid {
  gap: 3px;
}

.meta, .flex-end-btn a {
  font-size: clamp(11px, 1.4vw, 16px) !important;
}

p.heading-text.latest {
       font-size: clamp(.7rem, 1vw, 1.2rem) !important;
}


  .post5 div {
    padding: 3% 7.5% !important;
}

.right-col p {
  font-weight: 400;
  padding-bottom: 0% !important;
}

.left-col .badge-wrapper, .left-col .badge {
  height: 20vw !important;
}

.left-col {
  gap: 50px;
}

.absolute-image {
  height: 25vw;
}

.post-info p:nth-child(1) {
  font-size: clamp(11px, .85vw, 15px) !important;
  color: #666;
  margin-top: -1vw;
}

.post-info, .info-wrapper {
  gap: 10px;
}

.blog-post h3{
  font-weight: 500 !important;
}

.info-wrapper p {
  font-size: clamp(10px, 1vw, 16px) !important;
}

.post h3 {
  font-size: clamp(11px, 1.15vw, 20px);
}

.grid-container, .grid-container .left-container{
  gap: 25px;
}

.grid-container .left-container {
  width: 69%;
}

.left-container, .third-container, .posts-container {
  gap: 30px;
}

.blog-post, .posts {
  gap: 10px;
}

section p, .post p {
  font-size: clamp(.8rem, .8vw, .9rem) !important;
}

.posts-hero p {
  font-size: clamp(.6rem, .8vw, .9rem) !important;
}

p.meta  {
  font-size: clamp(.65rem, 1.3vw, .9rem) !important;
}
}

@Media (min-width: 768px) and (max-width: 1024px) {

h2 {
  font-size: 2.6vw;
}

.meta {
  font-size: clamp(11px, 1.5vw, 16px) !important;
}

.flex-end-btn a {
  font-size: clamp(11px, 1.8vw, 16px) !important;
}

.row-1 {
  height: 5vw;
}

.row-2 {
  height: 4.5vw;
}

.subscribe-btn {
  padding: 8px 16px;
}

.left-col .badge-wrapper, .left-col .badge {
  height: 25vw !important;
}

.hero-wrapper, .container, .posts-container, .last-container, .footer-container, .header-wrapper {
  max-width: 75vw;
  }

  .grid-container {
    grid-gap: 17px;
    max-width: 87.5vw !important;
}

.footer-right-col i {
  padding: 12px;
  font-size: 1.3vw;
}

.absolute-image {
  height: 30vw;
}

.footer-container {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.footer-right-col {
  justify-content: center;
}

.g10 p {
    font-size: clamp(.8rem, 1.5vw, 1rem) !important;
}
}

@media only screen and (max-width: 767px) {

/*  START HEADER CONTENT CSS  */

.desktop {
  display: none; 
}

.blog-post, .posts {
  gap: 10px;
}

.post3 div {
  padding: 4% 6% !important;
  border-radius: 0px 5px 0px 4px;
}

.hamburger {
  display: block;
}

.post3 p, .g10 p {
    font-size: clamp(13px, 3.5vw, 16px) !important;
}

.post3 {
  align-items: end;
}

.subscribe-btn {
  font-size: 3.5vw;
}

.weather {
  font-size: clamp(13px, 3.7vw, 20px);
}

.fa-magnifying-glass {
  font-size: clamp(14px, 5.1vw, 20px);
}

  .row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    padding: 2.5vw 0px;
    flex-wrap: nowrap;
  }

.row-2 {
  padding: 6vw 0px;
}

  .logo {
    font-size: clamp(19px, 5.5vw, 24px);
    font-weight: bold;
  }

  nav {
    flex-basis: 100%;
    margin-bottom: 10px;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
    flex-basis: 48%;
  }

  nav li:last-child {
    margin-right: 0;
  }

  nav a {
    font-size: clamp(13px, 3.95vw, 16px);
}

  .social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
  }

  .weather {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

 header nav {
    width: 100vw;
    background: white;
    position: absolute;
    left: 0;
    top: 29.4vw;
    z-index: 9999;
}

.header-nav {
  display: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

header ul {
  grid-template-columns: 1fr !important;
  padding: 6vw 10vw;
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.15);
}

header a {
  color: black;
}

.social a {
  font-size: clamp(14px, 6.5vw, 20px);
  margin-right: 16px;
}

.show {
  display: block !important;
  animation: slideInFromLeft 0.3s forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.left-container h3 {
  font-size: clamp(13px, 4.5vw, 20px);
  font-weight: 500;
}

.left-container .blog-post h3 {
  font-size: clamp(13px, 3.8vw, 20px);
}

.right-container h3 {
  font-size: clamp(18px, 5.2vw, 24px);
}

.hamburger {
  display: block;
  cursor: pointer;
  width: 25px;
  height: 20px;
  position: relative;
  z-index: 1;
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background-color: #000;
  position: absolute;
  left: 0;
  transition: transform 0.3s, opacity 0.3s;
}

.line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.line:first-child {
  top: 0;
}

.line:last-child {
  bottom: 0;
}

.hamburger.close .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.close .line:nth-child(2) {
  opacity: 0;
}

.hamburger.close .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
/*  END HEADER  CSS  */

/*  START MAIN CONTENT CSS  */
h2 {
    font-size: 6.5vw;
}

.badge p i {
  padding-right: 5px;
}

.badge p {
  padding: 2vw 4vw !important;
}

.four h3, .three h3 {
  font-size: clamp(13px, 5.15vw, 20px);
}

.post div {
  padding: 10vw;
}

.posts-container, .third-container, .footer-right-col, .container, .posts-container, .last-container, .hero-wrapper, .footer-container, .footer-left-col, nav ul {
    display: grid;
}

.footer-right-col {
    justify-items: center;
    padding-bottom: 15vw;
}

.footer-right-col div {
    display: flex;
    gap: 15px;
    order: -1;
}

.footer-right-col i {
    font-size: 4vw;
}

.three, .four, .left-container, .right-container, .left-col, .right-col  {
    width: 100% !important;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.left-container {
  display: grid;
  grid-template-columns: auto;
}

#section1 .left-container, #section3 .left-container {
  grid-template-columns: 1fr 1fr;
}

section .right-container {
    order: -1;
    margin-bottom: 8vw;
}

.container, .last-container, .left-container, .grid-container {
    gap: 30px;
}

.posts-container {
    gap: 40px;
}

.hero-wrapper {
  gap: 60px;
}

.header-wrapper, .hero-wrapper, .container, .posts-container, .last-container, .grid-container, .footer-container {
  max-width: 80vw !important;
}

.right-col {
    gap: 15px;
}

.right-col h3 {
    font-size:  4.2vw;
}

.author-meta {
    font-size: 3.3vw;
}

p.heading-text.latest {
    font-size: 4.8vw !important;
}

.absolute-image {
  height: 60vw;
  width: 65vw;
}

.left-col .badge-wrapper, .left-col .badge {
  height: 46vw !important;
}

.hero-wrapper {
  padding-top: 7%;
}

.read-more-btn {
    padding: 4% 11%;
}

.post-info a, .read-more-btn, .left-col p {
    font-size: clamp(13px, 3.8vw, 16px);
}

.meta {
  font-size: clamp(11px, 3.3vw, 16px) !important;
}

section:last-child {
    padding-top: 15vw;
    padding-bottom: 75px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.post3 {
  order: -2;
}

.post .meta {
  margin-bottom: 0;
}

.post5 {
  order: -1;
}

.post5 div {
  margin: 9%;
}

.left-container .meta {
  font-size: clamp(11px, 1.4vw, 16px) !important;
}
/*  END MAIN CONTENT CSS  */

/*  START FOOTER CSS  */

.footer-logo {
    height: 17.6vw;
    width: 17.6vw;
    font-size: 8.6vw;
}

footer {
    padding-top: 12vw;
}

nav ul {
    grid-template-columns: 1fr 1fr;
    gap: 6vw;
}

.footer-left-col {
    align-content: center !important;
    justify-items: center;
    gap: 35px;
}

footer nav a {
    font-size: clamp(13px, 3.85vw, 16px);
}

footer li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container {
    height: auto;
    justify-content: center;
    gap: 35px;
}

footer li:nth-child(2), footer li:nth-child(4) {
  border: none;
}

footer ul {
  gap: 0 !important;
}

footer li {
  margin: 3vw 0;
  padding: 2vw;
}
/*  END FOOTER CSS  */
}